/* Estilos para el Sidebar */
/* Sidebar Profesional y Corporativo */
.sidebar {
  display: flex;

  flex-direction: column;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: #251b4b;
  color: #fff;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  overflow: hidden;
  align-items: center;
}


.sidebar a.nav-link {
  color: #bdc3c7; /* Enlaces en gris claro */
  text-decoration: none;
  padding: 12px 15px;
  margin: 12px 0;
  margin-left: 18px;
  border-radius: 6px;
  font-weight: 500; /* Peso de fuente un poco más fuerte */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el hover */
}

.sidebar a.nav-link:hover {
  background-color: #e67e22; /* Fondo naranja oscuro */
  color: #fff; /* Cambiar texto a blanco al pasar el mouse */
}

.sidebar h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem; /* Título más grande */
  margin-bottom: 20px;
  text-align: center;
}

/* Contenido principal */
.main-content {
  margin-left: 250px; /* Deja espacio para el sidebar */
  padding: 20px;
  min-height: calc(
    100vh - 60px
  ); /* Ajusta la altura mínima para empujar el footer */
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: none;
  padding: 10px 0;
  visibility: hidden;
}

.footer .text-center {
  font-size: 0.9rem;
  color: #333;
  margin: 0;
  visibility: visible;
}

/* Responsividad */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content,
  .footer {
    margin-left: 0;
    width: 100%;
  }
}

.sidebar-logo {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
  max-width: 250px;
  overflow: hidden;
}
